Repository redactive-ai/redactive: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

python-sdk-grpc-codegen:
  name: Generate gRpc python code
  language: python
  entry: bash -c 'sdks/codegen/python_sdk.sh && cd sdks/python && hatch fmt'
  additional_dependencies:
  - hatch
  - grpcio-tools
  - betterproto[compiler]==2.0.0b6
  pass_filenames: false
  fail_fast: false

python-sdk-pyright:
  name: Check typing with pyright
  language: python
  entry: bash -c 'cd sdks/python && hatch run types:check'
  pass_filenames: false
  additional_dependencies:
  - hatch

python-sdk-ruff-format:
  name: Format Redactive Python SDK codebase with ruff
  language: python
  entry: bash -c 'cd sdks/python && hatch fmt'
  pass_filenames: false
  additional_dependencies:
  - hatch

python-sdk-unit-tests:
  name: Run Python SDK unit tests
  language: python
  entry: bash -c 'cd sdks/python && hatch test'
  additional_dependencies:
  - hatch
  pass_filenames: false

ci: reset version for python SDK release (#14)
  sdks/python/src/redactive/__about__.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

fix: fixed dev container pre-commit hook setup
  .devcontainer/devcontainer.json
Due: none

add connection mode and update default logic
  sdks/python/src/redactive/_connection_mode.py
  sdks/python/src/redactive/auth_client.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

add connection mode and update default logic (#16)
  sdks/python/src/redactive/_connection_mode.py
  sdks/python/src/redactive/auth_client.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

fix: fixed dev container pre-commit hook setup (#15)
  .devcontainer/devcontainer.json
Due: none

Refactor begin_connection method for better flexibility
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

Update AuthClient documentation for parameter types
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

Refactor error handling in auth client method
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

Update return type of begin_connection method to BeginConnectionResponse
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

Fix begin_connection method indentation and formatting
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

Refactor indentation in begin_connection method
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

feat(python): Adds support for endpoint and code_param_alias to begin_connection (#18)
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

Add initial version of Redactive CLI app
  examples/python-cli-app/.gitignore
  examples/python-cli-app/.pre-commit-config.yaml
  examples/python-cli-app/LICENSE.txt
  examples/python-cli-app/README.md
  examples/python-cli-app/pyproject.toml
  examples/python-cli-app/src/redactive_test_app/__about__.py
  examples/python-cli-app/src/redactive_test_app/__init__.py
  examples/python-cli-app/src/redactive_test_app/main.py
  examples/python-cli-app/tests/__init__.py
Due: none

Add filter queries functionality for SDK
  examples/python-cli-app/README.md
  examples/python-cli-app/src/redactive_test_app/main.py
Due: none

Remove MIT License text and update installation instructions
  examples/python-cli-app/LICENSE.txt
  examples/python-cli-app/README.md
Due: none

feat: added node sdk
  .devcontainer/Dockerfile
  .prettierignore
  sdks/codegen/node_sdk.sh
  sdks/node/.gitignore
  sdks/node/.npmignore
  sdks/node/.prettierrc.yaml
  sdks/node/eslint.config.js
  sdks/node/package.json
  sdks/node/pnpm-lock.yaml
  sdks/node/src/authClient.test.ts
  sdks/node/src/authClient.ts
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/index.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/node/src/vitest.config.ts
  sdks/node/tsconfig.json
  sdks/node/tsup.config.ts
Due: none

docs: added node sdk documentation
  sdks/node/README.md
Due: none

chore: added pnpm store ignore
  .gitignore
Due: none

docs: updated Node sdk documentation
  sdks/node/README.md
Due: none

ci: added pre-commit hooks for Node sdk
  .pre-commit-config.yaml
  sdks/codegen/node_sdk.sh
  sdks/node/README.md
  sdks/node/eslint.config.js
  sdks/node/package.json
  sdks/node/pnpm-lock.yaml
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
Due: none

docs: added documentation to prettierignore in root level
  .prettierignore
Due: none

docs: fixed Node SDK documentation
  sdks/node/README.md
Due: none

ci: fixed GHA workflow
  .github/workflows/code-quality-checks.yaml
Due: none

docs: changed the app name
  examples/python-cli-app/README.md
  examples/python-cli-app/pyproject.toml
  examples/python-cli-app/src/redactive_sample_app/__about__.py
  examples/python-cli-app/src/redactive_sample_app/__init__.py
  examples/python-cli-app/src/redactive_sample_app/main.py
Due: none

feat: adds node sdk (#20)
  .devcontainer/Dockerfile
  .github/workflows/code-quality-checks.yaml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  sdks/codegen/node_sdk.sh
  sdks/node/.gitignore
  sdks/node/.npmignore
  sdks/node/.prettierrc.yaml
  sdks/node/README.md
  sdks/node/eslint.config.js
  sdks/node/package.json
  sdks/node/pnpm-lock.yaml
  sdks/node/src/authClient.test.ts
  sdks/node/src/authClient.ts
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/index.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/node/src/vitest.config.ts
  sdks/node/tsconfig.json
  sdks/node/tsup.config.ts
Due: none

bump: upgraded ts-proto
  .devcontainer/Dockerfile
  protos/search.proto
  sdks/node/package.json
  sdks/node/pnpm-lock.yaml
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/python/src/redactive/grpc/v1/__init__.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests

chore: removed unused package
  sdks/node/package.json
  sdks/node/pnpm-lock.yaml
Due: none

bump: upgraded pre-commit hook GHA
  .github/workflows/code-quality-checks.yaml
Due: none

ci: fixed the protoc missing issue
  .github/workflows/code-quality-checks.yaml
Due: none

ci: updated the protoc GHA version
  .github/workflows/code-quality-checks.yaml
Due: none

bump: freezed protoc version
  .devcontainer/Dockerfile
  .github/workflows/code-quality-checks.yaml
Due: none

bump: updated protobuf version
  .devcontainer/Dockerfile
Due: none

ci: fixed github action
  .github/workflows/code-quality-checks.yaml
Due: none

ci: added libprotobuf version
  .github/workflows/code-quality-checks.yaml
Due: none

ci: rollback the protoc version
  .devcontainer/Dockerfile
  .github/workflows/code-quality-checks.yaml
Due: none

ci: changed the protoc version
  .devcontainer/Dockerfile
Due: none

ci: changed GHA pre-commit stage
  .github/workflows/code-quality-checks.yaml
  .pre-commit-config.yaml
Due: none

Path conditions:
  python-sdk-grpc-codegen: any of: ^protos/
  python-sdk-pyright: any of: ^sdks/python/ and \.py$
  python-sdk-ruff-format: any of: ^sdks/python/ and \.py$
  python-sdk-unit-tests: any of: ^sdks/python/ and \.py$
