Repository redactive-ai/redactive: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting, node-sdk-testing

python-sdk-grpc-codegen:
  stages:
  - pre-commit
  name: Generate gRpc python code
  language: python
  entry: bash -c 'sdks/codegen/python_sdk.sh && cd sdks/python && hatch fmt'
  additional_dependencies:
  - hatch
  - grpcio-tools
  - betterproto[compiler]==2.0.0b6
  pass_filenames: false
  fail_fast: false

python-sdk-pyright:
  name: Check typing with pyright
  language: python
  entry: bash -c 'cd sdks/python && hatch run types:check'
  pass_filenames: false
  additional_dependencies:
  - hatch

python-sdk-ruff-format:
  name: Format Redactive Python SDK codebase with ruff
  language: python
  entry: bash -c 'cd sdks/python && hatch fmt'
  pass_filenames: false
  additional_dependencies:
  - hatch

python-sdk-unit-tests:
  name: Run Python SDK unit tests
  language: python
  entry: bash -c 'cd sdks/python && hatch test'
  additional_dependencies:
  - hatch
  pass_filenames: false

node-sdk-grpc-codegen:
  stages:
  - pre-commit
  name: Generate gRpc Nodejs code
  language: node
  entry: bash -c 'sdks/codegen/node_sdk.sh && cd sdks/node && pnpm lint:fix && pnpm format:fix'
  additional_dependencies:
  - ts-proto
  - pnpm
  pass_filenames: false
  fail_fast: false

node-sdk-linting:
  name: Lint Node SDK codebase
  language: node
  entry: bash -c 'cd sdks/node && pnpm lint:fix'
  additional_dependencies:
  - pnpm
  pass_filenames: false
  fail_fast: false

node-sdk-formatting:
  name: Format Node SDK codebase
  language: node
  entry: bash -c 'cd sdks/node && pnpm format:fix'
  additional_dependencies:
  - pnpm
  pass_filenames: false
  fail_fast: false

node-sdk-testing:
  name: Test Node SDK
  language: node
  entry: bash -c 'cd sdks/node && pnpm test'
  additional_dependencies:
  - pnpm
  pass_filenames: false
  fail_fast: false

ci: fixed GHA
  .github/workflows/code-quality-checks.yaml
Due: none

chore: updated pre-commit hooks
  .pre-commit-config.yaml
Due: none

ci: clean up the github action
  .github/workflows/code-quality-checks.yaml
Due: none

feat: updated proto
  .pre-commit-config.yaml
Due: none

ci: always run unit tests
  .pre-commit-config.yaml
Due: none

feat: updated protobuf with new field name
  protos/search.proto
  sdks/node/src/grpc/search.ts
  sdks/python/src/redactive/grpc/v1/__init__.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting, node-sdk-testing

feat: added include_content_in_trash filter to search service (#23)
  .devcontainer/Dockerfile
  .github/workflows/code-quality-checks.yaml
  .pre-commit-config.yaml
  protos/search.proto
  sdks/node/package.json
  sdks/node/pnpm-lock.yaml
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/python/src/redactive/grpc/v1/__init__.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting, node-sdk-testing

ci: Added Node SDK auto release Github Action
  .github/workflows/package-node-sdk.yaml
Due: none

ci: Added Node SDK auto release Github Action (#24)
  .github/workflows/package-node-sdk.yaml
Due: none

ci: updated Node SDK Github Action
  .github/workflows/code-quality-checks.yaml
  .github/workflows/package-node-sdk.yaml
Due: none

ci: updated Node SDK Github Action
  .github/workflows/code-quality-checks.yaml
Due: none

ci: combined deps installation and build commands
  .github/workflows/package-node-sdk.yaml
Due: none

chore: upgrade version for GHA test
  sdks/node/package.json
Due: node-sdk-linting, node-sdk-formatting, node-sdk-testing

ci: updated nodejs version
  .github/workflows/code-quality-checks.yaml
  .github/workflows/package-node-sdk.yaml
Due: none

chore: changed version for GHA test
  sdks/node/package.json
Due: node-sdk-linting, node-sdk-formatting, node-sdk-testing

ci: fixed Node SDK Github Action
  .github/workflows/package-node-sdk.yaml
Due: none

ci: refactored Node SDK publish workflow
  .github/workflows/package-node-sdk.yaml
  sdks/node/package.json
Due: node-sdk-linting, node-sdk-formatting, node-sdk-testing

ci: Fixes Node SDK Github Action (#25)
  .github/workflows/code-quality-checks.yaml
  .github/workflows/package-node-sdk.yaml
Due: none

ci: fixed Github Node SDK publishing workflow
  .github/workflows/package-node-sdk.yaml
  .github/workflows/package-python-sdk.yaml
Due: none

ci: combined Node SDK build and publish workflow
  .github/workflows/package-node-sdk.yaml
Due: none

ci: fixed Node SDK publish Github Action
  .github/workflows/package-node-sdk.yaml
Due: none

ci: updated working directory
  .github/workflows/package-node-sdk.yaml
Due: none

ci: enabled changes check
  .github/workflows/package-node-sdk.yaml
Due: none

ci: fixed Github Node SDK publishing workflow (#26)
  .github/workflows/package-node-sdk.yaml
  .github/workflows/package-python-sdk.yaml
Due: none

ci: added version tage detection for Node SDK
  .github/workflows/package-node-sdk.yaml
Due: none

ci: enabled release tag check
  .github/workflows/package-node-sdk.yaml
Due: none

ci: added version tag detection for Node SDK (#27)
  .github/workflows/package-node-sdk.yaml
Due: none

feat: added get-chunks-by-url endpoint support
  protos/README.md
  protos/chunks.proto
  protos/search.proto
  sdks/codegen/node_sdk.sh
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/grpc/v1/__init__.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/search_client_tests.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting, node-sdk-testing

fix: set devcontainer, pre-commit node to v20 LTS
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
Due: none

fix: regenerated proto code
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
Due: node-sdk-linting, node-sdk-formatting, node-sdk-testing

feat: added get-chunks-by-url endpoint support (#28)
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
  protos/README.md
  protos/chunks.proto
  protos/search.proto
  sdks/codegen/node_sdk.sh
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/grpc/v1/__init__.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/search_client_tests.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, python-sdk-unit-tests, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting, node-sdk-testing

Update path for Node SDK artifacts in workflow
  .github/workflows/package-node-sdk.yaml
Due: none

Update path for Node SDK artifacts in workflow (#29)
  .github/workflows/package-node-sdk.yaml
Due: none

Revert "Update path for Node SDK artifacts in workflow (#29)"
  .github/workflows/package-node-sdk.yaml
Due: none

Update artifact path for Node SDK build job
  .github/workflows/package-node-sdk.yaml
Due: none

Revert "Update path for Node SDK artifacts in workflow (#29)" (#30)
  .github/workflows/package-node-sdk.yaml
Due: none

Update GitHub Actions versions for package-node-sdk workflow
  .github/workflows/package-node-sdk.yaml
Due: none

Path conditions:
  python-sdk-grpc-codegen: any of: ^protos/
  python-sdk-pyright: any of: ^sdks/python/ and \.py$
  python-sdk-ruff-format: any of: ^sdks/python/ and \.py$
  python-sdk-unit-tests: any of: ^sdks/python/ and \.py$
  node-sdk-grpc-codegen: any of: ^protos/
  node-sdk-linting: any of: ^sdks/node/
  node-sdk-formatting: any of: ^sdks/node/
  node-sdk-testing: any of: ^sdks/node/
