Repository redactive-ai/redactive: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Path conditions:
  python-sdk-grpc-codegen: any of: ^protos/
  python-sdk-pyright: any of: ^sdks/python/ and \.py$
  python-sdk-ruff-format: any of: ^sdks/python/ and \.py$
  node-sdk-grpc-codegen: any of: ^protos/
  node-sdk-linting: any of: ^sdks/node/
  node-sdk-formatting: any of: ^sdks/node/

Fix node SDK unit tests
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/searchClient.test.ts
Due: node-sdk-linting, node-sdk-formatting

Implement python API
  sdks/python/README.md
  sdks/python/src/redactive/grpc/v2/__init__.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
  sdks/python/tests/unit_tests/search_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format

Update doco for Python SDK
  sdks/python/README.md
Due: none

Reduce scope of npm SDK
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
Due: node-sdk-linting, node-sdk-formatting

Fix failing test
  sdks/node/src/multiUserClient.test.ts
Due: node-sdk-linting, node-sdk-formatting

Fix Node doco
  sdks/node/README.md
  sdks/python/README.md
Due: node-sdk-linting, node-sdk-formatting

Update comments in protos
  protos/chunks.proto
  sdks/node/src/grpc/chunks.ts
  sdks/python/src/redactive/grpc/v2/__init__.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Format codebase
  sdks/node/README.md
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/grpc/v2/__init__.py
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
  sdks/python/tests/unit_tests/search_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format, node-sdk-linting, node-sdk-formatting

Update doco even more
  sdks/node/README.md
  sdks/node/src/index.ts
  sdks/python/README.md
Due: node-sdk-linting, node-sdk-formatting

Format codebase
  sdks/node/README.md
  sdks/node/src/index.ts
Due: node-sdk-linting, node-sdk-formatting

API v2 (#48)
  protos/chunks.proto
  protos/search.proto
  sdks/node/README.md
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/index.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/README.md
  sdks/python/src/redactive/grpc/v2/__init__.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
  sdks/python/tests/unit_tests/search_client_tests.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Add used providers to responses
  protos/search.proto
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/grpc/v2/__init__.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Format codebase
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/python/src/redactive/grpc/v2/__init__.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, node-sdk-linting, node-sdk-formatting

Fix some little bits
  sdks/node/README.md
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/searchClient.test.ts
  sdks/python/src/redactive/reranking/reranker.py
Due: python-sdk-pyright, python-sdk-ruff-format, node-sdk-linting, node-sdk-formatting

Include list of providers used to fulfill request in query responses (#49)
  protos/search.proto
  sdks/node/README.md
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/grpc/v2/__init__.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Use proper auth override
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format

Fix response schema
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format

Use proper auth override (#50)
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format

Fix auth for list_connections
  sdks/python/src/redactive/auth_client.py
Due: python-sdk-pyright, python-sdk-ruff-format

Fix incorrect attribute reference
  sdks/python/README.md
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format

Fix incorrect attribute reference (#51)
  sdks/python/README.md
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format
