Repository redactive-ai/redactive: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Path conditions:
  python-sdk-grpc-codegen: any of: ^protos/
  python-sdk-pyright: any of: ^sdks/python/ and \.py$
  python-sdk-ruff-format: any of: ^sdks/python/ and \.py$
  node-sdk-grpc-codegen: any of: ^protos/
  node-sdk-linting: any of: ^sdks/node/
  node-sdk-formatting: any of: ^sdks/node/

Rkoch/fix/npm publish (#32)
  .github/workflows/package-node-sdk.yaml
Due: none

Prioritize downloading dists before checkout step
  .github/workflows/package-node-sdk.yaml
Due: none

Rkoch/fix/npm publish (#33)
  .github/workflows/package-node-sdk.yaml
Due: none

chore: test workflow
  .github/workflows/package-node-sdk.yaml
Due: none

Update main and module paths in package.json
  sdks/node/package.json
Due: node-sdk-linting, node-sdk-formatting

Rkoch/fix/npm publish (#35)
  sdks/node/package.json
Due: node-sdk-linting, node-sdk-formatting

Create snyk-security.yml
  .github/workflows/snyk-security.yml
Due: none

Create SECURITY.txt
  SECURITY.txt
Due: none

Update SECURITY.txt
  SECURITY.txt
Due: none

Add semantic query scopes to Node SDK
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
Due: node-sdk-linting, node-sdk-formatting

Changes to Python SDK for consistent filter arguments
  sdks/python/pyproject.toml
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-pyright, python-sdk-ruff-format

Add deprecation warning for query chunks parameter changes
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-pyright, python-sdk-ruff-format

Add semantic query filters to Node SDK (#38)
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/pyproject.toml
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-pyright, python-sdk-ruff-format, node-sdk-linting, node-sdk-formatting

Update path for Node SDK artifacts in workflow
  .github/workflows/package-node-sdk.yaml
Due: none

Revert "Update path for Node SDK artifacts in workflow (#29)" (#30)
  .github/workflows/package-node-sdk.yaml
Due: none

Update artifact path for Node SDK build job
  .github/workflows/package-node-sdk.yaml
Due: none

Update GitHub Actions versions for package-node-sdk workflow
  .github/workflows/package-node-sdk.yaml
Due: none

Update MultiUserClient to handle additional parameter in beginConnection
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
Due: node-sdk-linting, node-sdk-formatting

Add comment explaining the order of steps in workflow
  .github/workflows/package-node-sdk.yaml
Due: none

fix(node-sdk): Fixes incorrect params given to auth client. (#39)
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
Due: node-sdk-linting, node-sdk-formatting

Refactor authClient to accept options object
  sdks/node/src/authClient.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
Due: node-sdk-linting, node-sdk-formatting

refactor(node-sdk): object parameters for some methods
  sdks/node/README.md
  sdks/node/src/authClient.test.ts
  sdks/node/src/authClient.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
Due: node-sdk-linting, node-sdk-formatting

refactor(node-sdk): object parameters for some methods (#41)
  sdks/node/README.md
  sdks/node/src/authClient.test.ts
  sdks/node/src/authClient.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
Due: node-sdk-linting, node-sdk-formatting

DocumentName in search and sourcereference
  protos/chunks.proto
  protos/search.proto
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/grpc/v1/__init__.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/search_client_tests.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Updated SDKs README
  sdks/node/README.md
  sdks/python/README.md
Due: node-sdk-linting, node-sdk-formatting

feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Adding the ability to find the chunks of a document given its name (#42)
  protos/chunks.proto
  protos/search.proto
  sdks/node/README.md
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/node/src/multiUserClient.test.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.test.ts
  sdks/node/src/searchClient.ts
  sdks/python/README.md
  sdks/python/src/redactive/grpc/v1/__init__.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/search_client_tests.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Add support for multiuser client in python
  sdks/python/pyproject.toml
  sdks/python/src/redactive/auth_client.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format

Review comments
  sdks/python/src/redactive/auth_client.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/tests/unit_tests/auth_client_tests.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format

Remove options
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format

Update sdks/python/tests/unit_tests/multi_user_client_tests.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format

Add support for multiuser client in python (#44)
  sdks/python/pyproject.toml
  sdks/python/src/redactive/auth_client.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/tests/unit_tests/auth_client_tests.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format

Add, update docstrings, type hints, param defaults
  sdks/node/src/authClient.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/auth_client.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format, node-sdk-linting, node-sdk-formatting

Update SDK readme's for multi-user clients
  README.md
  sdks/node/README.md
  sdks/python/README.md
Due: node-sdk-linting, node-sdk-formatting

Add doc example for filters
  sdks/node/README.md
  sdks/python/README.md
Due: node-sdk-linting, node-sdk-formatting

Add & update docstrings, type hints, param defaults (#47)
  README.md
  sdks/node/README.md
  sdks/node/src/authClient.ts
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.ts
  sdks/python/README.md
  sdks/python/src/redactive/auth_client.py
  sdks/python/src/redactive/multi_user_client.py
  sdks/python/src/redactive/reranking/reranker.py
  sdks/python/src/redactive/search_client.py
  sdks/python/tests/unit_tests/multi_user_client_tests.py
Due: python-sdk-pyright, python-sdk-ruff-format, node-sdk-linting, node-sdk-formatting

Compile new proto version
  protos/chunks.v1.proto
  protos/search.v1.proto
  sdks/node/src/grpc/chunks.ts
  sdks/node/src/grpc/google/protobuf/struct.ts
  sdks/node/src/grpc/google/protobuf/timestamp.ts
  sdks/node/src/grpc/search.ts
  sdks/python/src/redactive/grpc/v2/__init__.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting

Implement node sdk
  protos/chunks.v1.proto
  protos/search.v1.proto
  sdks/node/src/multiUserClient.ts
  sdks/node/src/searchClient.ts
  sdks/python/src/redactive/grpc/v1/__init__.py
  sdks/python/src/redactive/search_client.py
Due: python-sdk-grpc-codegen, python-sdk-pyright, python-sdk-ruff-format, node-sdk-grpc-codegen, node-sdk-linting, node-sdk-formatting
